
<div class="container">
    
    <h1>You have reserved Room #6</h1>

   <div class="img">

  <%= image_tag "classrm_6.png"%>

  </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultricies tempus interdum. Integer venenatis ipsum nec quam iaculis, mollis pellentesque magna interdum. Duis in erat ut ante porta auctor. Vestibulum tempus laoreet vestibulum. Proin at purus non leo accumsan ultricies. Praesent vitae laoreet erat. Curabitur consequat facilisis nisi id commodo. Cras efficitur commodo hendrerit.
    Fusce non condimentum orci. Nullam et gravida augue, nec suscipit sapien. Pellentesque ac arcu magna. Nunc iaculis, nibh id cursus ultricies, erat magna fermentum massa, eu iaculis lectus lacus id arcu.
  </p>
  
</div>

 
